@using Asteroids.Shared.GameStateEntities

<style>
    .fade-out {
        animation: fadeOut 4s linear forwards;
        opacity: 1;
    }

    @@keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .sprite {
        position: absolute;
        transition: all 0.1s linear;
    }

    .sprite img {
        transition: all 0.1s linear;
    }
</style>

<div @key="Asteroid.Id" class="sprite" style="@($"position:absolute; right: {Asteroid.Location.X}px; bottom: {Asteroid.Location.Y}px;")">
    <div class="position-relative">
        @if (Asteroid.IsAlive)
        {
            <img src="@GetAsteroidSvg()" alt="" height="@(Asteroid.Size)" width="@(Asteroid.Size)"
                style="rotate: @(Asteroid.Heading.Angle)deg;">
        }
        else
        {
            <img src="@GetAsteroidSvg()" class="fade-out" height="@(Asteroid.Size)" width="@(Asteroid.Size)"
                style="rotate: @(Asteroid.Heading.Angle)deg;">
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired] public AsteroidSnapshot Asteroid { get; set; } = new AsteroidSnapshot();


    private string GetAsteroidSvg()
    {
        return $"Assets/asteroid1.png";
    }

}
